<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    
    <property name="javax.persistence.schema-generation.database.action" >drop-and-create </property>
    
    <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ecom</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">smiley</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto" >update</property>
    <mapping class="com.rest1.dto.Orders"/>
    <mapping class="com.rest1.dto.RepeatEmail"/>
    <mapping class="com.rest1.dto.SentemailTLS"/>
    <mapping class="com.rest1.dto.Address"/>
    <mapping class="com.rest1.dto.Cart"/>
    
    <mapping class="com.rest1.dto.Orders"/> 
	<mapping class="com.rest1.dto.Customer"/>
	<mapping class="com.rest1.dto.Products"/>
	<mapping class="com.rest1.dto.CartItems"/> 
	<mapping class="com.rest1.dto.OrderHistory"/> 
		<mapping class="com.rest1.dto.Review"/> 
	
   
  </session-factory>
</hibernate-configuration>


